body{
    background: #ffffff;
}
.container{
    align-items: center;
}
.jumbotron{
    text-align: center;
    padding-top: 150px;

}
h1{
    color: #000000;
    padding-bottom: 20px;
    font-weight: bold;
}
p{
    color: #000000;
    padding-top: 20px;
    font-weight: 400px;
}


.fab {
    padding-left: 10px;
}

.forminfo input{
    margin: 30px 0px;
}
.btn{
    border-radius: 20px;
    padding: 7px 25px;
}

.btn a{
    text-decoration: none;
    color: #ffffff;
}